.vscode/
.DS_Store
.dfx
node_modules
.env
*.wasm
target
internet_identity.old.did
internet_identity.did
internet_identity.wasm
tsconfig.tsbuildinfo
todo.md
packages/web-client/static/~partytown
packages/web-client/coverage/**