{
	"tabWidth": 2,
	"printWidth": 80,
	"singleQuote": true,
	"trailingComma": "all",
	"semi": false,
	"arrowParens": "always",
	"htmlWhitespaceSensitivity": "ignore",
	"quoteProps": "consistent",
	"endOfLine": "auto",
	"bracketSameLine": true,
	"svelteStrictMode": false,
	"svelteIndentScriptAndStyle": false,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"pluginSearchDirs": false,
	"tailwindConfig": "./packages/web-client/tailwind.config.cjs",
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
