{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 100,
	"svelteStrictMode": true,
  "svelteIndentScriptAndStyle": false,
  "svelteAllowShorthand": true,
	"plugins": [
    "./node_modules/prettier-plugin-tailwindcss"
  ],
	"tailwindConfig": "./src/frontend/tailwind.config.cjs",
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
