# fly.toml app configuration file generated for hot-or-not-kit on 2024-01-04T16:13:20+05:30
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "experiments-kit"
primary_region = "bos"

[build]
  dockerfile = "ex.Dockerfile"
  ignorefile = "Dockerfile.dockerignore"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024
