/* Import Kumbh Sans */
/* kumbh-sans-regular - latin */
@font-face {
	font-family: 'Kumbh Sans';
	font-style: swap;
	font-weight: 400;
	src: url('./fonts/kumbh-sans-v12-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''), url('./fonts/kumbh-sans-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./fonts/kumbh-sans-v12-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */ url('./fonts/kumbh-sans-v12-latin-regular.woff') format('woff'),
		/* Modern Browsers */ url('./fonts/kumbh-sans-v12-latin-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('./fonts/kumbh-sans-v12-latin-regular.svg#KumbhSans')
			format('svg'); /* Legacy iOS */
}
/* kumbh-sans-500 - latin */
@font-face {
	font-family: 'Kumbh Sans';
	font-style: swap;
	font-weight: 500;
	src: url('./fonts/kumbh-sans-v12-latin-500.eot'); /* IE9 Compat Modes */
	src: local(''), url('./fonts/kumbh-sans-v12-latin-500.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./fonts/kumbh-sans-v12-latin-500.woff2') format('woff2'),
		/* Super Modern Browsers */ url('./fonts/kumbh-sans-v12-latin-500.woff') format('woff'),
		/* Modern Browsers */ url('./fonts/kumbh-sans-v12-latin-500.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('./fonts/kumbh-sans-v12-latin-500.svg#KumbhSans') format('svg'); /* Legacy iOS */
}
/* kumbh-sans-600 - latin */
@font-face {
	font-family: 'Kumbh Sans';
	font-style: swap;
	font-weight: 600;
	src: url('./fonts/kumbh-sans-v12-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''), url('./fonts/kumbh-sans-v12-latin-600.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./fonts/kumbh-sans-v12-latin-600.woff2') format('woff2'),
		/* Super Modern Browsers */ url('./fonts/kumbh-sans-v12-latin-600.woff') format('woff'),
		/* Modern Browsers */ url('./fonts/kumbh-sans-v12-latin-600.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('./fonts/kumbh-sans-v12-latin-600.svg#KumbhSans') format('svg'); /* Legacy iOS */
}
/* kumbh-sans-700 - latin */
@font-face {
	font-family: 'Kumbh Sans';
	font-style: swap;
	font-weight: 700;
	src: url('./fonts/kumbh-sans-v12-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''), url('./fonts/kumbh-sans-v12-latin-700.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('./fonts/kumbh-sans-v12-latin-700.woff2') format('woff2'),
		/* Super Modern Browsers */ url('./fonts/kumbh-sans-v12-latin-700.woff') format('woff'),
		/* Modern Browsers */ url('./fonts/kumbh-sans-v12-latin-700.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('./fonts/kumbh-sans-v12-latin-700.svg#KumbhSans') format('svg'); /* Legacy iOS */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.breathe {
	animation-name: breathe;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

@keyframes breathe {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.75);
	}
	100% {
		transform: scale(1);
	}
}

.safe-bottom {
	padding-bottom: env(safe-area-inset-bottom);
}

button {
	-webkit-tap-highlight-color: transparent;
}
