@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.breathe {
	animation-name: breathe;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

@keyframes breathe {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.75);
	}
	100% {
		transform: scale(1);
	}
}

.safe-bottom {
	padding-bottom: env(safe-area-inset-bottom);
}

button {
	-webkit-tap-highlight-color: transparent;
}
